@model LocadoraDeCarros.Models.TelefoneModelView

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TelefoneModelView</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" class="form-control" type="hidden"  />
            </div>
            <div class="form-group">
                <input asp-for="ClienteId" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="NumeroTelefone" class="control-label"></label>
                <input asp-for="NumeroTelefone" class="form-control" />
                <span asp-validation-for="NumeroTelefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
